.title{
    font-family: Cursive, sans-serif;
    color: rgb(91, 83, 83);
    line-height: 2;
    font-style: italic;
    transform: skew(-10deg);
}

.todoDisplay{
    list-style: none;
    margin-top: 20px;
    border: 2px solid rgb(91, 83, 83);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: -20px;
}