.title{
    font-family: Cursive, sans-serif;
    line-height: 2;
    font-style: italic;
    transform: skew(-10deg);
}

.todoDisplay{
    margin-top: 20px;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(195, 212, 212);
}

.list{
    list-style: none;
}

.addButton{
    margin-bottom: 20px;
    background-color: rgb(115, 185, 197);
}

.actionButton{
    margin-left: 5px;
    margin-top: 5px;
}